# Paul the Octopus 2022
Elton Saheki esaheki@ciandt.com
***

# Data Analysis

In [1]:
import pandas as pd
import numpy as np

import google

from google.cloud import aiplatform
from google.cloud import bigquery

## Read data from BigQuery

In [3]:
credentials, project_id = google.auth.default(scopes=["https://www.googleapis.com/auth/cloud-platform"])
bqclient = bigquery.Client(credentials=credentials, project=project_id)

In [4]:
query = "SELECT * FROM phoenix-cit.paul_2022.historical_results"
historical_raw = bqclient.query(query).result().to_dataframe();

In [5]:
query = "SELECT * FROM phoenix-cit.paul_2022.ranking"
ranking_raw = bqclient.query(query).result().to_dataframe();

## Data cleanup and exploring

In [6]:
historical_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44060 entries, 0 to 44059
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        44060 non-null  object
 1   home_team   44060 non-null  object
 2   away_team   44060 non-null  object
 3   home_score  44059 non-null  float64
 4   away_score  44059 non-null  float64
 5   tournament  44060 non-null  object
 6   city        44060 non-null  object
 7   country     44060 non-null  object
 8   neutral     44060 non-null  bool
dtypes: bool(1), float64(2), object(6)
memory usage: 2.7+ MB

In [7]:
ranking_raw = ranking_raw[ranking_raw["rank_date"] != "rank_date"]

In [8]:
ranking_raw["rank_date"] = pd.to_datetime(ranking_raw["rank_date"], format='%Y-%m-%d')
ranking_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63916 entries, 0 to 63916
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rank             63916 non-null  object
 1   country_full     63916 non-null  object
 2   country_abrv     63916 non-null  object
 3   total_points     63916 non-null  object
 4   previous_points  63916 non-null  object
 5   rank_change      63916 non-null  object
 6   confederation    63916 non-null  object
 7   rank_date        63916 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(7)
memory usage: 4.4+ MB

In [9]:
historical_raw["date"] = pd.to_datetime(historical_raw["date"])
historical_raw = historical_raw.replace({'home_team' : {
    'United States' : 'USA'
  }}
)
historical_raw = historical_raw.replace({'away_team' : {
    'United States' : 'USA'
  }}
)
historical_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44060 entries, 0 to 44059
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        44060 non-null  datetime64[ns]
 1   home_team   44060 non-null  object
 2   away_team   44060 non-null  object
 3   home_score  44059 non-null  float64
 4   away_score  44059 non-null  float64
 5   tournament  44060 non-null  object
 6   city        44060 non-null  object
 7   country     44060 non-null  object
 8   neutral     44060 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), object(5)
memory usage: 2.7+ MB

In [10]:
hist_unique_teams = pd.DataFrame(pd.unique((historical_raw['home_team']).append(historical_raw['away_team'])), columns=['Team'])
hist_unique_teams

              Team
0        Palestine
1         Cambodia
2         China PR
3    North Vietnam
4      North Korea
..             ...
311         Crimea
312       Asturias
313         Surrey
314   Two Sicilies
315      Maule Sur

[316 rows x 1 columns]

In [11]:
rank_unique_teams = pd.DataFrame(pd.unique(ranking_raw['country_full']), columns=['country_full'])
rank_unique_teams

              country_full
0              Afghanistan
1                 Anguilla
2                  Albania
3                  Algeria
4                  Andorra
..                     ...
219  Serbia and Montenegro
220  SÃ£o TomÃ© and PrÃ­ncipe
221         Czechoslovakia
222                TÃ¼rkiye
223    SÃ£o TomÃ© e PrÃ­ncipe

[224 rows x 1 columns]

## Find unmatched country names between rank and historical data

In [12]:
diff = pd.merge(hist_unique_teams, rank_unique_teams, left_on='Team', right_on='country_full', how='outer').query('Team != country_full')
diff.to_csv('store/diff.csv')
diff

              Team           country_full
3    North Vietnam                    NaN
4      North Korea                    NaN
5         GÄƒgÄƒuzia                    NaN
6       Kyrgyzstan                    NaN
7        Greenland                    NaN
..             ...                    ...
334            NaN                  Zaire
335            NaN             Cabo Verde
336            NaN  Serbia and Montenegro
337            NaN                TÃ¼rkiye
338            NaN    SÃ£o TomÃ© e PrÃ­ncipe

[138 rows x 2 columns]

## Fixing country names

In [13]:
ranking_raw = ranking_raw.replace({'country_full' : {
    'Korea Republic' : 'South Korea',
    'Cabo Verde' : 'Cape Verde',
    'Cape Verde Islands' : 'Cape Verde',
    'Congo DR' : 'DR Congo',
    "CÃ´te d'Ivoire" : 'Ivory Coast',
    'Curacao' : 'CuraÃ§ao',
    'FYR Macedonia' : 'North Macedonia',
    'IR Iran' : 'Iran',
    'Korea DPR' : 'North Korea',
    'Kyrgyz Republic' : 'Kyrgyzstan',
    'Sao Tome e Principe' : 'SÃ£o TomÃ© and PrÃ­ncipe	',
    'SÃ£o TomÃ© e PrÃ­ncipe' : 'SÃ£o TomÃ© and PrÃ­ncipe	',
    'St. Kitts and Nevis' : 'Saint Kitts and Nevis',
    'St. Lucia' : 'Saint Lucia',
    'St. Vincent / Grenadines' : 'Saint Vincent and the Grenadines',
    'St. Vincent and the Grenadines' : 'Saint Vincent and the Grenadines',
    'Swaziland' : 'Eswatini',
    'TÃ¼rkiye' : 'Turkey',
    'US Virgin Islands' : 'United States Virgin Islands',
    'Zaire' : 'DR Congo'
  }}
)
ranking_raw

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,173,Afghanistan,AFG,48,102,-15,AFC,2006-07-12
1,190,Afghanistan,AFG,18,43,11,AFC,2007-04-18
2,182,Afghanistan,AFG,53,11,-14,AFC,2008-06-04
3,174,Afghanistan,AFG,61,10,-21,AFC,2011-04-13
4,179,Afghanistan,AFG,73,76,13,AFC,2011-07-27
...,...,...,...,...,...,...,...,...
63912,169,Saint Vincent and the Grenadines,VIN,117,88,-10,CONCACAF,2017-08-10
63913,192,United States Virgin Islands,VIR,17,0,-10,CONCACAF,2008-04-09
63914,78,Zambia,ZAM,418,365,-10,CAF,2014-10-23
63915,41,Zimbabwe,ZIM,38,35,-10,CAF,1995-02-20
63916,85,Zimbabwe,ZIM,367,344,-10,CAF,2008-06-04

## Merging Ranking data with Historical Results

In [14]:
historical_raw = historical_raw.sort_values(by="date")
ranking_raw = ranking_raw.sort_values(by="rank_date")

In [15]:
historical_home_rank = pd.merge_asof(historical_raw,ranking_raw, left_by='home_team', right_by='country_full',left_on='date', right_on='rank_date', direction='backward', allow_exact_matches=True)
historical_home_rank['home_rank'] = historical_home_rank['rank']
historical_home_rank['home_total_points'] = historical_home_rank['total_points']
historical_home_rank.drop(['rank','total_points','country_full','country_abrv','previous_points','rank_change','confederation','rank_date'], axis=1, inplace=True)
historical_home_rank

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,home_total_points
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,NaN,NaN
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,NaN,NaN
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,NaN,NaN
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,NaN,NaN
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
44055,2022-09-27,Malta,Israel,2.0,1.0,Friendly,Ta' Qali,Malta,False,169,974.68
44056,2022-09-27,Egypt,Liberia,3.0,0.0,Friendly,Alexandria,Egypt,False,40,1482.63
44057,2022-09-27,Ghana,Nicaragua,1.0,0.0,Friendly,Lorca,Spain,True,60,1393.47
44058,2022-09-27,Republic of Ireland,Armenia,3.0,2.0,UEFA Nations League,Dublin,Republic of Ireland,False,47,1442.48
44059,2022-09-30,Fiji,Solomon Islands,NaN,NaN,MSG Prime Minister's Cup,Luganville,Vanuatu,True,163,993.37

In [16]:
historical_rank = pd.merge_asof(historical_home_rank,ranking_raw, left_by='away_team', right_by='country_full',left_on='date', right_on='rank_date', direction='backward', allow_exact_matches=True)
historical_rank['away_rank'] = historical_rank['rank']
historical_rank['away_total_points'] = historical_rank['total_points']
historical_rank.drop(['rank','total_points','country_full','country_abrv','previous_points','rank_change','confederation','rank_date'], axis=1, inplace=True)
historical_rank

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,home_total_points,away_rank,away_total_points
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,NaN,NaN,NaN,NaN
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,NaN,NaN,NaN,NaN
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,NaN,NaN,NaN,NaN
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,NaN,NaN,NaN,NaN
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44055,2022-09-27,Malta,Israel,2.0,1.0,Friendly,Ta' Qali,Malta,False,169,974.68,76,1316.35
44056,2022-09-27,Egypt,Liberia,3.0,0.0,Friendly,Alexandria,Egypt,False,40,1482.63,150,1051.25
44057,2022-09-27,Ghana,Nicaragua,1.0,0.0,Friendly,Lorca,Spain,True,60,1393.47,139,1079.18
44058,2022-09-27,Republic of Ireland,Armenia,3.0,2.0,UEFA Nations League,Dublin,Republic of Ireland,False,47,1442.48,92,1242.42
44059,2022-09-30,Fiji,Solomon Islands,NaN,NaN,MSG Prime Minister's Cup,Luganville,Vanuatu,True,163,993.37,137,1092.56

In [17]:
historical_rank = historical_rank[historical_rank['home_score'].notna()]
historical_rank = historical_rank[historical_rank['away_score'].notna()]

## ELO rating

Using ELO to standardize variations in FIFA Ranking and points algorithm

In [ ]:
continental_championships = ['AFC Asian Cup','African Cup of Nations','Copa AmÃ©rica','CONCACAF Championship','Oceania Nations Cup','UEFA Euro']
qualification_championships = ['FIFA World Cup qualification','AFC Asian Cup qualification','African Nations Championship qualification','Copa AmÃ©rica qualification','CONCACAF Championship qualification','Oceania Nations Cup qualification','UEFA Euro qualification']

#tournament weight
def k_factor(tournament):
    k = 30
    if tournament == 'Friendly':
        k = 20
    elif tournament in qualification_championships:
        k = 25
    elif tournament in continental_championships:
        k = 50
    elif tournament == 'FIFA World Cup':
        k = 60
    return k

#goal difference weight
def g_factor(goals_a, goals_b):
    g = 1
    n = abs(goals_a - goals_b)
    if n == 2:
        g = 1.5
    elif n > 2:
        g = (11 + n) / 8
    return g

def expected_result(rating_a, rating_b, neutral):
    dr = rating_a - rating_b
    if not neutral:
      dr = (rating_a + 100) - rating_b
    we = (1 / (10**(-dr / 400) + 1))
    return [np.round(we, 3), 1-np.round(we, 3)]

def actual_result(goals_a, goals_b):
    if goals_a < goals_b:
        sa = 0
        sb = 1
    elif goals_a > goals_b:
        sa = 1
        sb = 0
    elif goals_a == goals_b:
        sa = 0.5
        sb = 0.5
    return [sa, sb]

def calculate_elo_rating(rating_a, rating_b, goals_a, goals_b, tournament, neutral):
    
    k = k_factor(tournament)
    g = g_factor(goals_a, goals_b)
    wa, wb = actual_result(goals_a, goals_b)
    wea, web = expected_result(rating_a, rating_b, neutral)

    new_rating_a = rating_a + k*g*(wa - wea)
    new_rating_b = rating_b + k*g*(wb - web)

    return new_rating_a.round(0), new_rating_b.round(0)

## Calculating ELO Ratings

In [18]:
current_elo = {}
for idx, row in historical_rank.iterrows():
    
    a_team = row['home_team']
    b_team = row['away_team']
    
    if a_team not in current_elo.keys():
        current_elo[a_team] = 2000
    
    if b_team not in current_elo.keys():
        current_elo[b_team] = 2000
    
    new_elo_a, new_elo_b = calculate_elo_rating(current_elo[a_team], current_elo[b_team], row['home_score'], row['away_score'], row['tournament'], row['neutral'])

    historical_rank.loc[idx,'k_factor'] = k_factor(row['tournament'])
    historical_rank.loc[idx,'home_elo_after'] = new_elo_a
    historical_rank.loc[idx,'away_elo_after'] = new_elo_b 
    historical_rank.loc[idx,'home_elo_before'] = current_elo[a_team]
    historical_rank.loc[idx,'away_elo_before'] = current_elo[b_team]

    current_elo[a_team] = new_elo_a
    current_elo[b_team] = new_elo_b

In [19]:
latest_elo = pd.DataFrame.from_dict(current_elo, orient='index', columns=['Elo'])
latest_elo.to_csv('store/latest_elo.csv')

In [20]:
historical_rank['score_diff'] = (historical_rank['home_score'] - historical_rank['away_score'])
historical_rank.to_csv('store/historical_rank.csv', index=False)

## Creating dummies for country values

In [21]:
home_team_dummies = pd.get_dummies(historical_rank['home_team'], prefix='dummy_home')
away_team_dummies = pd.get_dummies(historical_rank['away_team'], prefix='dummy_away')
historical_rank_dummies = historical_rank.join(home_team_dummies)
historical_rank_dummies = historical_rank_dummies.join(away_team_dummies)
historical_rank_dummies

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,...,dummy_away_Western Sahara,dummy_away_Yemen,dummy_away_Yemen DPR,dummy_away_Ynys MÃ´n,dummy_away_Yorkshire,dummy_away_Yugoslavia,dummy_away_Zambia,dummy_away_Zanzibar,dummy_away_Zimbabwe,dummy_away_Ã…land Islands
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,NaN,...,0,0,0,0,0,0,0,0,0,0
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,NaN,...,0,0,0,0,0,0,0,0,0,0
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,NaN,...,0,0,0,0,0,0,0,0,0,0
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44054,2022-09-27,United Arab Emirates,Venezuela,0.0,4.0,Friendly,Wiener Neustadt,Austria,True,69,...,0,0,0,0,0,0,0,0,0,0
44055,2022-09-27,Malta,Israel,2.0,1.0,Friendly,Ta' Qali,Malta,False,169,...,0,0,0,0,0,0,0,0,0,0
44056,2022-09-27,Egypt,Liberia,3.0,0.0,Friendly,Alexandria,Egypt,False,40,...,0,0,0,0,0,0,0,0,0,0
44057,2022-09-27,Ghana,Nicaragua,1.0,0.0,Friendly,Lorca,Spain,True,60,...,0,0,0,0,0,0,0,0,0,0
44058,2022-09-27,Republic of Ireland,Armenia,3.0,2.0,UEFA Nations League,Dublin,Republic of Ireland,False,47,...,0,0,0,0,0,0,0,0,0,0

In [22]:
historical_rank_dummies.to_csv('store/historical_rank_elo_dummies.csv', index=False)

In [23]:
historical_rank_elo_dummies = historical_rank_dummies

# Training ML Model

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
dummy_columns = [k for k in historical_rank_elo_dummies.columns if (k[:6]=='dummy_')]
predictors = ["k_factor","home_elo_before","away_elo_before","home_rank","away_rank","home_total_points","away_total_points","neutral"] + dummy_columns
len(predictors)

625

In [26]:
historical_rank_elo_dummies = historical_rank_elo_dummies.dropna()

In [27]:
target = historical_rank_elo_dummies[["home_score","away_score"]]
features = historical_rank_elo_dummies[predictors]

In [28]:
X_train,X_test,y_train,y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [29]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import GradientBoostingRegressor

params = {
    "n_estimators": 200,
    "max_depth": 6,
    "min_samples_split": 5,
    "learning_rate": 0.1,
    "random_state": 512,
    "loss": "squared_error",
}

gbr = MultiOutputRegressor(GradientBoostingRegressor(**params));
gbr.fit(X_train, y_train)

score = gbr.score(X_train, y_train)
print("Training score:", score)

score = gbr.score(X_test, y_test)
print("Test score:", score)

predictions = gbr.predict(X_test)

# Just ELO + Full history
# Training score: 0.6105493749837039
# Test score: 0.1995738325346768

# ELO + Rank + Points + Partial history rank doesn't go far into the past
# Training score: 0.4972803263176074
# Test score: 0.27695701519816174

# Training score: 0.5040949343969829
# Test score: 0.26064179164703016

# Only World Cup countries data
# Training score: 0.5833660931368544
# Test score: 0.16928229496056335

Training score: 0.5040949343969829
Test score: 0.26064179164703016

In [30]:
from datetime import datetime
from joblib import dump, load

now = datetime.now()
date_time = now.strftime("%Y%m%d_%H%M%S")
filename = 'trained-model-' + date_time + '.joblib'

dump(gbr, filename)

['trained-model-20221117_004907.joblib']

In [31]:
predicts = pd.DataFrame(predictions, columns=["pred_home_score","pred_away_score"])
test = X_test.join(y_test).reset_index(drop=True)
test[predicts.columns] = predicts

In [32]:
test[['home_elo_before','away_elo_before','home_rank','away_rank','home_total_points','away_total_points','neutral','home_score','away_score','pred_home_score','pred_away_score']].round({'pred_home_score': 0, 'pred_away_score': 0})

,home_elo_before,away_elo_before,home_rank,away_rank,home_total_points,away_total_points,neutral,home_score,away_score,pred_home_score,pred_away_score
0,2460.0,2315.0,5,19,1161,903,False,2.0,2.0,2.0,1.0
1,2193.0,2048.0,48,83,677,399,False,1.0,2.0,2.0,1.0
2,2144.0,1877.0,43,172,40,1,False,2.0,0.0,3.0,0.0
3,1890.0,1868.0,147,143,185,189,True,1.0,1.0,1.0,1.0
4,2298.0,2421.0,30,10,757,1030,False,1.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
4862,1909.0,2164.0,129,62,225,520,False,2.0,0.0,1.0,1.0
4863,1938.0,2024.0,106,76,1205,1319,False,2.0,1.0,1.0,1.0
4864,1993.0,2013.0,113,120,416,393,False,0.0,2.0,1.0,1.0
4865,2267.0,2188.0,42,57,632,542,False,2.0,2.0,2.0,1.0
4866,2065.0,2108.0,53,59,574,567,False,3.0,2.0,1.0,1.0

## Prepare matches dataset to run prediction

In [33]:
matches = pd.read_csv("store/matchs-schedule.csv", sep=";")

In [34]:
group_matches = matches[matches['phase'] == 'group matches']
group_matches = group_matches[['match','date','country1','coutry2']]
group_matches = group_matches.rename(columns={"country1": "home_team", "coutry2": "away_team"})
group_matches['date'] = pd.to_datetime(group_matches["date"])
group_matches = group_matches.sort_values(by='date')

In [35]:
group_matches_home_rank = pd.merge_asof(group_matches,ranking_raw, left_by='home_team', right_by='country_full',left_on='date', right_on='rank_date', direction='backward', allow_exact_matches=True)
group_matches_home_rank['home_rank'] = group_matches_home_rank['rank']
group_matches_home_rank['home_total_points'] = group_matches_home_rank['total_points']
group_matches_home_rank.drop(['rank','total_points','country_full','country_abrv','previous_points','rank_change','confederation','rank_date'], axis=1, inplace=True)

In [36]:
group_matches_rank = pd.merge_asof(group_matches_home_rank,ranking_raw, left_by='away_team', right_by='country_full',left_on='date', right_on='rank_date', direction='backward', allow_exact_matches=True)
group_matches_rank['away_rank'] = group_matches_rank['rank']
group_matches_rank['away_total_points'] = group_matches_rank['total_points']
group_matches_rank.drop(['rank','total_points','country_full','country_abrv','previous_points','rank_change','confederation','rank_date'], axis=1, inplace=True)

In [37]:
for idx, row in group_matches_rank.iterrows():
    a_team = row['home_team']
    b_team = row['away_team']
    
    group_matches_rank.loc[idx,'k_factor'] = 60
    group_matches_rank.loc[idx,'home_elo_before'] = current_elo[a_team]
    group_matches_rank.loc[idx,'away_elo_before'] = current_elo[b_team]
    group_matches_rank.loc[idx,'neutral'] = (a_team != 'Qatar') & (b_team != 'Qatar')

## Create dummies for country values

In [38]:
home_team_dummies = pd.get_dummies(group_matches_rank['home_team'], prefix='dummy_home')
away_team_dummies = pd.get_dummies(group_matches_rank['away_team'], prefix='dummy_away')
group_matches_dummies = group_matches_rank.join(home_team_dummies)
group_matches_dummies = group_matches_dummies.join(away_team_dummies)
group_matches_dummies

,match,date,home_team,away_team,home_rank,home_total_points,away_rank,away_total_points,k_factor,home_elo_before,...,dummy_away_Saudi Arabia,dummy_away_Senegal,dummy_away_Serbia,dummy_away_South Korea,dummy_away_Spain,dummy_away_Switzerland,dummy_away_Tunisia,dummy_away_USA,dummy_away_Uruguay,dummy_away_Wales
0,44,2022-01-12,Costa Rica,Germany,49,1437.43,12,1648.33,60.0,2284.0,...,0,0,0,0,0,0,0,0,0,0
1,43,2022-01-12,Japan,Spain,26,1531.53,7,1704.75,60.0,2346.0,...,0,0,0,0,1,0,0,0,0,0
2,42,2022-01-12,Canada,Morocco,40,1462.32,28,1529.93,60.0,2327.0,...,0,0,0,0,0,0,0,0,0,0
3,41,2022-01-12,Croatia,Belgium,15,1620.74,1,1828.45,60.0,2427.0,...,0,0,0,0,0,0,0,0,0,0
4,48,2022-02-12,Cameroon,Brazil,38,1480.82,2,1823.42,60.0,2176.0,...,0,0,0,0,0,0,0,0,0,0
5,46,2022-02-12,South Korea,Portugal,29,1522.85,8,1660.25,60.0,2366.0,...,0,0,0,0,0,0,0,0,0,0
6,45,2022-02-12,Ghana,Uruguay,61,1381.45,16,1614.05,60.0,2138.0,...,0,0,0,0,0,0,0,0,1,0
7,47,2022-02-12,Serbia,Switzerland,25,1547.38,14,1642.83,60.0,2387.0,...,0,0,0,0,0,1,0,0,0,0
8,1,2022-11-21,Qatar,Ecuador,50,1439.89,44,1464.39,60.0,2223.0,...,0,0,0,0,0,0,0,0,0,0
9,4,2022-11-21,USA,Wales,16,1627.48,19,1569.82,60.0,2356.0,...,0,0,0,0,0,0,0,0,0,1
10,3,2022-11-21,England,Iran,5,1728.47,20,1564.61,60.0,2461.0,...,0,0,0,0,0,0,0,0,0,0
11,2,2022-11-21,Senegal,Netherlands,18,1584.38,8,1694.51,60.0,2323.0,...,0,0,0,0,0,0,0,0,0,0
12,6,2022-11-22,Denmark,Tunisia,10,1666.57,30,1507.54,60.0,2474.0,...,0,0,0,0,0,0,1,0,0,0
13,5,2022-11-22,France,Australia,4,1759.78,38,1488.72,60.0,2537.0,...,0,0,0,0,0,0,0,0,0,0
14,8,2022-11-22,Argentina,Saudi Arabia,3,1773.88,51,1437.78,60.0,2650.0,...,1,0,0,0,0,0,0,0,0,0
15,7,2022-11-22,Mexico,Poland,13,1644.89,26,1548.59,60.0,2385.0,...,0,0,0,0,0,0,0,0,0,0
16,10,2022-11-23,Spain,Costa Rica,7,1715.22,31,1503.59,60.0,2556.0,...,0,0,0,0,0,0,0,0,0,0
17,9,2022-11-23,Belgium,Canada,2,1816.71,41,1475.0,60.0,2556.0,...,0,0,0,0,0,0,0,0,0,0
18,12,2022-11-23,Morocco,Croatia,22,1563.5,12,1645.64,60.0,2331.0,...,0,0,0,0,0,0,0,0,0,0
19,11,2022-11-23,Germany,Japan,11,1650.21,24,1559.54,60.0,2470.0,...,0,0,0,0,0,0,0,0,0,0
20,16,2022-11-24,Brazil,Serbia,1,1841.3,21,1563.62,60.0,2669.0,...,0,0,1,0,0,0,0,0,0,0
21,15,2022-11-24,Portugal,Ghana,9,1676.56,61,1393.0,60.0,2518.0,...,0,0,0,0,0,0,0,0,0,0
22,14,2022-11-24,Uruguay,South Korea,14,1638.71,28,1530.3,60.0,2474.0,...,0,0,0,1,0,0,0,0,0,0
23,13,2022-11-24,Switzerland,Cameroon,15,1635.92,43,1471.44,60.0,2441.0,...,0,0,0,0,0,0,0,0,0,0
24,17,2022-11-25,Wales,Iran,19,1569.82,20,1564.61,60.0,2295.0,...,0,0,0,0,0,0,0,0,0,0
25,20,2022-11-25,England,USA,5,1728.47,16,1627.48,60.0,2461.0,...,0,0,0,0,0,0,0,1,0,0
26,18,2022-11-25,Qatar,Senegal,50,1439.89,18,1584.38,60.0,2223.0,...,0,1,0,0,0,0,0,0,0,0
27,19,2022-11-25,Netherlands,Ecuador,8,1694.51,44,1464.39,60.0,2537.0,...,0,0,0,0,0,0,0,0,0,0
28,24,2022-11-26,Argentina,Mexico,3,1773.88,13,1644.89,60.0,2650.0,...,0,0,0,0,0,0,0,0,0,0
29,21,2022-11-26,Tunisia,Australia,30,1507.54,38,1488.72,60.0,2266.0,...,0,0,0,0,0,0,0,0,0,0
30,22,2022-11-26,Poland,Saudi Arabia,26,1548.59,51,1437.78,60.0,2315.0,...,1,0,0,0,0,0,0,0,0,0
31,23,2022-11-26,France,Denmark,4,1759.78,10,1666.57,60.0,2537.0,...,0,0,0,0,0,0,0,0,0,0
32,25,2022-11-27,Japan,Costa Rica,24,1559.54,31,1503.59,60.0,2346.0,...,0,0,0,0,0,0,0,0,0,0
33,26,2022-11-27,Belgium,Morocco,2,1816.71,22,1563.5,60.0,2556.0,...,0,0,0,0,0,0,0,0,0,0
34,27,2022-11-27,Croatia,Canada,12,1645.64,41,1475.0,60.0,2427.0,...,0,0,0,0,0,0,0,0,0,0
35,28,2022-11-27,Spain,Germany,7,1715.22,11,1650.21,60.0,2556.0,...,0,0,0,0,0,0,0,0,0,0
36,30,2022-11-28,South Korea,Ghana,28,1530.3,61,1393.0,60.0,2366.0,...,0,0,0,0,0,0,0,0,0,0
37,29,2022-11-28,Cameroon,Serbia,43,1471.44,21,1563.62,60.0,2176.0,...,0,0,1,0,0,0,0,0,0,0
38,32,2022-11-28,Portugal,Uruguay,9,1676.56,14,1638.71,60.0,2518.0,...,0,0,0,0,0,0,0,0,1,0
39,31,2022-11-28,Brazil,Switzerland,1,1841.3,15,1635.92,60.0,2669.0,...,0,0,0,0,0,1,0,0,0,0
40,36,2022-11-29,Netherlands,Qatar,8,1694.51,50,1439.89,60.0,2537.0,...,0,0,0,0,0,0,0,0,0,0
41,35,2022-11-29,Ecuador,Senegal,44,1464.39,18,1584.38,60.0,2363.0,...,0,1,0,0,0,0,0,0,0,0
42,34,2022-11-29,Iran,USA,20,1564.61,16,1627.48,60.0,2394.0,...,0,0,0,0,0,0,0,1,0,0
43,33,2022-11-29,Wales,England,19,1569.82,5,1728.47,60.0,2295.0,...,0,0,0,0,0,0,0,0,0,0
44,37,2022-11-30,Australia,Denmark,38,1488.72,10,1666.57,60.0,2296.0,...,0,0,0,0,0,0,0,0,0,0
45,40,2022-11-30,Saudi Arabia,Mexico,51,1437.78,13,1644.89,60.0,2210.0,...,0,0,0,0,0,0,0,0,0,0
46,38,2022-11-30,Tunisia,France,30,1507.54,4,1759.78,60.0,2266.0,...,0,0,0,0,0,0,0,0,0,0
47,39,2022-11-30,Poland,Argentina,26,1548.59,3,1773.88,60.0,2315.0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
col_list = historical_rank_elo_dummies.columns.difference(group_matches_dummies.columns).tolist()
for col in col_list:
    group_matches_dummies[col] = 0

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  This is separate from the ipykernel package so we can avoid doing imports until

In [40]:
dummy_columns = [k for k in group_matches_dummies.columns if (k[:6]=='dummy_')]
predictors_b = ["k_factor","home_elo_before","away_elo_before","home_rank","away_rank","home_total_points","away_total_points","neutral"] + dummy_columns
len(predictors_b)

625

# Run prediction

In [41]:
gbr = load(filename) 
predictions = gbr.predict(group_matches_dummies[predictors])

score_predictions = pd.DataFrame(predictions, columns=["pred_home_score","pred_away_score"])
results = group_matches_dummies.reset_index(drop=True)
results[predicts.columns] = score_predictions

In [42]:
results = results[['match','date','home_team','away_team','home_elo_before','away_elo_before','home_rank','away_rank','home_total_points','away_total_points','neutral','pred_home_score','pred_away_score']]
results = results.rename(columns = {'home_team':'home', 'away_team':'away', 'pred_home_score':'home_score', 'pred_away_score':'away_score'})
results = results.sort_values(by='match').reset_index(drop=True)

In [43]:
results

,match,date,home,away,home_elo_before,away_elo_before,home_rank,away_rank,home_total_points,away_total_points,neutral,home_score,away_score
0,1,2022-11-21,Qatar,Ecuador,2223.0,2363.0,50,44,1439.89,1464.39,False,0.990131,1.149808
1,2,2022-11-21,Senegal,Netherlands,2323.0,2537.0,18,8,1584.38,1694.51,True,0.685273,1.862882
2,3,2022-11-21,England,Iran,2461.0,2394.0,5,20,1728.47,1564.61,True,1.192351,0.993580
3,4,2022-11-21,USA,Wales,2356.0,2295.0,16,19,1627.48,1569.82,True,1.334117,0.925029
4,5,2022-11-22,France,Australia,2537.0,2296.0,4,38,1759.78,1488.72,True,1.594421,0.940643
5,6,2022-11-22,Denmark,Tunisia,2474.0,2266.0,10,30,1666.57,1507.54,True,1.629658,0.829411
6,7,2022-11-22,Mexico,Poland,2385.0,2315.0,13,26,1644.89,1548.59,True,1.369821,1.103219
7,8,2022-11-22,Argentina,Saudi Arabia,2650.0,2210.0,3,51,1773.88,1437.78,True,2.833018,0.487547
8,9,2022-11-23,Belgium,Canada,2556.0,2327.0,2,41,1816.71,1475.0,True,2.167688,0.903836
9,10,2022-11-23,Spain,Costa Rica,2556.0,2284.0,7,31,1715.22,1503.59,True,1.558081,0.770299
10,11,2022-11-23,Germany,Japan,2470.0,2346.0,11,24,1650.21,1559.54,True,1.515356,1.066561
11,12,2022-11-23,Morocco,Croatia,2331.0,2427.0,22,12,1563.5,1645.64,True,0.887522,1.573209
12,13,2022-11-24,Switzerland,Cameroon,2441.0,2176.0,15,43,1635.92,1471.44,True,1.820411,0.596798
13,14,2022-11-24,Uruguay,South Korea,2474.0,2366.0,14,28,1638.71,1530.3,True,1.084973,0.858573
14,15,2022-11-24,Portugal,Ghana,2518.0,2138.0,9,61,1676.56,1393.0,True,2.304173,0.499704
15,16,2022-11-24,Brazil,Serbia,2669.0,2387.0,1,21,1841.3,1563.62,True,3.357758,0.675638
16,17,2022-11-25,Wales,Iran,2295.0,2394.0,19,20,1569.82,1564.61,True,0.901285,1.339321
17,18,2022-11-25,Qatar,Senegal,2223.0,2323.0,50,18,1439.89,1584.38,False,0.976648,1.222971
18,19,2022-11-25,Netherlands,Ecuador,2537.0,2363.0,8,44,1694.51,1464.39,True,1.545949,0.718723
19,20,2022-11-25,England,USA,2461.0,2356.0,5,16,1728.47,1627.48,True,1.120335,0.683456
20,21,2022-11-26,Tunisia,Australia,2266.0,2296.0,30,38,1507.54,1488.72,True,0.989161,1.381221
21,22,2022-11-26,Poland,Saudi Arabia,2315.0,2210.0,26,51,1548.59,1437.78,True,1.848969,0.798993
22,23,2022-11-26,France,Denmark,2537.0,2474.0,4,10,1759.78,1666.57,True,1.206534,1.400685
23,24,2022-11-26,Argentina,Mexico,2650.0,2385.0,3,13,1773.88,1644.89,True,1.452632,0.765055
24,25,2022-11-27,Japan,Costa Rica,2346.0,2284.0,24,31,1559.54,1503.59,True,1.286294,1.167094
25,26,2022-11-27,Belgium,Morocco,2556.0,2331.0,2,22,1816.71,1563.5,True,2.379291,0.775420
26,27,2022-11-27,Croatia,Canada,2427.0,2327.0,12,41,1645.64,1475.0,True,1.564389,1.229884
27,28,2022-11-27,Spain,Germany,2556.0,2470.0,7,11,1715.22,1650.21,True,2.100938,1.002144
28,29,2022-11-28,Cameroon,Serbia,2176.0,2387.0,43,21,1471.44,1563.62,True,0.663044,1.546212
29,30,2022-11-28,South Korea,Ghana,2366.0,2138.0,28,61,1530.3,1393.0,True,1.707541,0.671866
30,31,2022-11-28,Brazil,Switzerland,2669.0,2441.0,1,15,1841.3,1635.92,True,3.015757,0.826771
31,32,2022-11-28,Portugal,Uruguay,2518.0,2474.0,9,14,1676.56,1638.71,True,1.286328,0.981650
32,33,2022-11-29,Wales,England,2295.0,2461.0,19,5,1569.82,1728.47,True,0.737109,1.750572
33,34,2022-11-29,Iran,USA,2394.0,2356.0,20,16,1564.61,1627.48,True,1.063678,1.017627
34,35,2022-11-29,Ecuador,Senegal,2363.0,2323.0,44,18,1464.39,1584.38,True,1.017832,0.897985
35,36,2022-11-29,Netherlands,Qatar,2537.0,2223.0,8,50,1694.51,1439.89,False,2.251943,0.493256
36,37,2022-11-30,Australia,Denmark,2296.0,2474.0,38,10,1488.72,1666.57,True,0.666677,2.038337
37,38,2022-11-30,Tunisia,France,2266.0,2537.0,30,4,1507.54,1759.78,True,0.346019,2.125339
38,39,2022-11-30,Poland,Argentina,2315.0,2650.0,26,3,1548.59,1773.88,True,0.779304,2.025936
39,40,2022-11-30,Saudi Arabia,Mexico,2210.0,2385.0,51,13,1437.78,1644.89,True,0.728659,1.677740
40,41,2022-01-12,Croatia,Belgium,2427.0,2556.0,15,1,1620.74,1828.45,True,0.837677,1.642688
41,42,2022-01-12,Canada,Morocco,2327.0,2331.0,40,28,1462.32,1529.93,True,1.351024,0.897989
42,43,2022-01-12,Japan,Spain,2346.0,2556.0,26,7,1531.53,1704.75,True,0.732645,2.198615
43,44,2022-01-12,Costa Rica,Germany,2284.0,2470.0,49,12,1437.43,1648.33,True,0.717826,1.901564
44,45,2022-02-12,Ghana,Uruguay,2138.0,2474.0,61,16,1381.45,1614.05,True,0.614683,2.014061
45,46,2022-02-12,South Korea,Portugal,2366.0,2518.0,29,8,1522.85,1660.25,True,0.830405,2.264389
46,47,2022-02-12,Serbia,Switzerland,2387.0,2441.0,25,14,1547.38,1642.83,True,1.080070,1.529375
47,48,2022-02-12,Cameroon,Brazil,2176.0,2669.0,38,2,1480.82,1823.42,True,0.412204,2.988503

## Export predictions

In [44]:
export = results[['home','home_score','away_score','away']].round({'home_score': 0, 'away_score': 0})
export = export.astype({'home_score': 'int32','away_score': 'int32' })
export

            home  home_score  away_score          away
0          Qatar           1           1       Ecuador
1        Senegal           1           2   Netherlands
2        England           1           1          Iran
3            USA           1           1         Wales
4         France           2           1     Australia
5        Denmark           2           1       Tunisia
6         Mexico           1           1        Poland
7      Argentina           3           0  Saudi Arabia
8        Belgium           2           1        Canada
9          Spain           2           1    Costa Rica
10       Germany           2           1         Japan
11       Morocco           1           2       Croatia
12   Switzerland           2           1      Cameroon
13       Uruguay           1           1   South Korea
14      Portugal           2           0         Ghana
15        Brazil           3           1        Serbia
16         Wales           1           1          Iran
17         Qatar           1           1       Senegal
18   Netherlands           2           1       Ecuador
19       England           1           1           USA
20       Tunisia           1           1     Australia
21        Poland           2           1  Saudi Arabia
22        France           1           1       Denmark
23     Argentina           1           1        Mexico
24         Japan           1           1    Costa Rica
25       Belgium           2           1       Morocco
26       Croatia           2           1        Canada
27         Spain           2           1       Germany
28      Cameroon           1           2        Serbia
29   South Korea           2           1         Ghana
30        Brazil           3           1   Switzerland
31      Portugal           1           1       Uruguay
32         Wales           1           2       England
33          Iran           1           1           USA
34       Ecuador           1           1       Senegal
35   Netherlands           2           0         Qatar
36     Australia           1           2       Denmark
37       Tunisia           0           2        France
38        Poland           1           2     Argentina
39  Saudi Arabia           1           2        Mexico
40       Croatia           1           2       Belgium
41        Canada           1           1       Morocco
42         Japan           1           2         Spain
43    Costa Rica           1           2       Germany
44         Ghana           1           2       Uruguay
45   South Korea           1           2      Portugal
46        Serbia           1           2   Switzerland
47      Cameroon           0           3        Brazil

In [45]:
export.to_csv('submit.csv', index=False)